.full-article{
    // border: 1px solid black;
    height: 70vh;
    display: flex;
    box-shadow: 3px 6px 30px -7px rgba(54,50,54,1);
    border-radius: 8px;
    overflow: hidden;

    .full-article-left{
        width: 100%;
        height: 100%;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        // padding: 10vh;
        
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    .full-article-right{
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 5vh;

        p{
            span{
                font-weight: bold;
                font-size: 0.9rem;
            }

            .full-article-title{
                font-size: 1.1rem;
            }
        }
    }
}